<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label='General'>
        <setting id="eurosport-token" type="text" label="Login token" />
    </category>
    <category label='On demand'>
        <setting id="ondemand-sort-order" type="select" label="Sort order" values="Latest first|Earliest first|Ending soon" default="Latest first" visible="true" />
    </category>
</settings>
